#logo {
    width: 40px;
    height: 40px;
    margin: 5px;
}

#barradenavegacion {
    height: 50px;
    width: 100%;
    background-color: red;
    display: flex;
}

.barra {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    background-color: greenyellow;
}

header {
    position: sticky; top: 0px;
}